{% extends 'layout.html' %}

{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% include '_messages.html' %}
            {% if updatebrand %}
            <h1 class="text-center mt-5">Update a brand</h1>
            <form method="post">
                <input type="text" name="brand" class="form-control" value="{{updatebrand.name}}">
                <input type="submit" value="Update Brand" class="btn btn-primary mt-2">
            </form>
            <a href="{{url_for('brands')}}" class="btn btn-warning" style="margin-top: -65px; margin-left:150px;">
                Cancel
            </a>
            {% else %}
            <h1 class="text-center mt-5">Update a Category</h1>
            <form method="post">
                <input type="text" name="category" class="form-control" value="{{updatecategory.name}}">
                <input type="submit" value="Update Category" class="btn btn-primary mt-2">
            </form>
            <a href="{{url_for('categories')}}" class="btn btn-warning"  style="margin-top: -65px; margin-left:150px;">
                Cancel
            </a>
            {% endif %}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock body_block %}