{% extends 'layout.html' %}

{% block body_block %}
{% include '_messages.html' %}
{% include 'navbar.html' %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/admin">ADMIN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/admin">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/brands">Brands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categories">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addproduct">Add a Product</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container mt-5">
    <table class="table table-lg table-condensed table-striped table-hover table-responsive-sm ">
        <caption>List of Available products</caption>
        <thead>
            <th>Sr. No.</th>
            <th>Product</th>
            <th>Price</th>
            <th>Brand</th>
            <th>Image</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.brand.name}}</td>
                <td><img src="{{url_for('static', filename='images/'+product.image_1)}}" width='200' alt="Image_1"></td>
                <td><a href="{{url_for('updateproduct', id=product.id)}}" class="btn btn-outline-warning btn-sm"> Edit</a></td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" 
                        data-target="#exampleModal-{{product.id}}">
                        Delete
                    </button>
                </td>
            </tr>

            <!-- Modal -->
            <div class="modal fade " id="exampleModal-{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete {{product.name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you Sure you want to delete {{product.name}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                            <form action="{{url_for('deleteproduct', id=product.id)}}" method="POST">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body_block %}