{% extends 'layout.html' %}

{% block body_block %}
<div class="container">
    {% from "_formhelpers.html" import render_field %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1 class="text-center h1 text-white bg-primary">Login</h1>
            <form method="POST" enctype="multipart/form-data">
                <div>
                    {{ render_field(form.email, class="form-control") }}
                    {{ render_field(form.password, class="form-control") }}
                </div>
                <p><input type="submit" value="Login" class="btn btn-success mt-2 center">
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock body_block %}