{% extends 'layout.html' %}

{% block body_block %}
<h1 class="text-center h1 text-danger">Register</h1>
{% from "_formhelpers.html" import render_field %}
<div class="container">
    <form method="POST" enctype="multipart/form-data">
        <div>
            {{ render_field(form.name, class="form-control")}}
            {{ render_field(form.username, class="form-control") }}
            {{ render_field(form.email, class="form-control") }}
            {{ render_field(form.password, class="form-control") }}
            {{ render_field(form.confirm, class="form-control") }}
            <input type="file" name="photo">
        </div>
        <p><input type="submit" value="Register" class="btn btn-info mt-2">
    </form>
</div>
{% endblock body_block %}